#root {
  display: flex;
  position: relative;
  min-height: 100vh;
}

.info {
  padding: 1rem 2rem 1rem 1rem;
  flex: 0 0 17rem;
  background: rgb(70, 70, 70);
  color: white;
  box-shadow: inset -1rem 0 1rem -.5rem black;
}

.info h1 {
  margin-bottom: 2rem;
}

.info p {
  margin-bottom: 1rem;
}

.info input {
  max-width: 3.1rem;
  margin-left: .3rem;
  padding: .1rem;
  border-radius: .5rem;
}