#root {
  display: flex;
  position: relative;
  min-height: 100vh;
  background-color: var(--color-primary);
}

.info {
  position: sticky;
  top: 0;
  padding: 1rem 2rem 1rem 1rem;
  flex: 0 1 20rem;
  height: 100vh;
  background: var(--color-primary);
  color: var(--color-secondary);
  box-shadow: inset -1rem 0 1rem -.5rem black;
}

@media (prefers-color-scheme: dark) {
  .info {
    box-shadow: 1rem 0 1rem -.5rem black;
  }
}

.info h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.info p,
.info label,
.info input {
  font-size: 1.4rem;
}

.info p {
  margin-bottom: 1rem;
}

.info input {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  max-width: 3.1rem;
  margin-left: .3rem;
  padding: .1rem;
  border-radius: .5rem;
}