.card {
  background-color: transparent;
  box-sizing: content-box;
  min-height: calc(117px + 1rem);
  border: none;
  position: relative;
  transition: all .1s ease-out;
}

.card img {
  transform: scale(1.5) translateY(-.5rem);
}

.card figcaption {
  color: var(--color-primary);
  font-weight: bold;
  position: absolute;
  bottom: .2rem;
  left: 50%;
  transform: translateX(-50%);
}

.card:hover {
  cursor: pointer;
  z-index: 1;
  transform: scale(1.03);
  box-shadow: 0 0 1rem .4rem var(--color-primary-light);
}