.score {
  font-size: 1.4rem;
  color: var(--color-secondary);
  text-align: right;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.grid {
  background-color: var(--color-secondary);
  padding: 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(153px, 1fr));
  gap: .2rem;
}