.score {
  color: var(--color-secondary);
  text-align: right;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.grid {
  padding: .5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(153px, 1fr));
  gap: .2rem;
}